*{
    margin: 0;
    padding: 0;
}

/* Flex Direction and Flex */

/* .container{
    border: 10px solid black;
    height: 97vh;
    display: flex;
    flex-direction: column;
} */
 
/* Flex Wrap property */

/* .container{
    border: 10px solid black;
    height: 97vh;
    display: flex;
    flex-wrap: wrap;
} */

/* Flex Flow property

.container{
    border: 10px solid black;
    height: 97vh;
    display: flex;
    flex-flow: column wrap;
} */

.container{
    border: 10px solid black;
    height: 97vh;
    display: flex;
    flex-flow: column wrap;
}

.box1{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: red;
}

.box2{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: blue;
}

.box3{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: yellow;
}

.box4{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: blueviolet;
}

.box5{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: peru;
}

.box6{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: bisque;
}

.box7{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: darkgreen;
}

.box8{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: darksalmon;
}

.box9{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: rosybrown;
}

.box10{
    width: 12%;
    height: 100px;
    margin: 8px;
    background-color: darkgreen;
}